:root {
    --cremita: #fffaf2;
    --rosa-claro: #f1c8cb;
    --rosa-oscuro: #f6b0bb;
    --verde-claro: #9cad8c;
    --verde-oscuro: #7e8c69;

    /* RGB para sombras */
    --rosa-oscuro-rgb: 246, 176, 187;
}

/* Fondo */
body {
    background-color: var(--cremita);
}

/* Navbar */
.navbar {
    background-color: var(--rosa-oscuro);
}

/* Logo */
#brand {
    font-family: "Berkshire Swash", serif;
    font-size: 30px;
    word-spacing: 8px; /* corregido */
}

/* Layout principal */
.main-login {
    min-height: calc(100vh - 70px);
}

/* Contenedor centrado */
#contenidoPrincipal {
    min-height: calc(100vh - 150px);
}

/* Card */
.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

/* Botón */
.btn-primary {
    background-color: var(--rosa-claro);
    border-color: var(--rosa-claro);
    color: black;
}

.btn-primary:hover {
    background-color: var(--rosa-oscuro);
    border-color: var(--rosa-oscuro);
    color: black;
}

.btn-primary:active {
    background-color: var(--rosa-claro) !important;
    border-color: var(--rosa-oscuro) !important;
    color: black;
}

/* Checkbox */
.form-check-input:checked {
    background-color: var(--verde-oscuro);
    border-color: var(--rosa-oscuro);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--verde-claro), 0.25);
    border-color: var(--verde-oscuro);
}

/* Links */
a {
    color: var(--verde-oscuro);
    text-decoration: none;
}

a:hover {
    font-size: large;
}